<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>


    
    <hr>
    
    <a class="btn btn-outline-danger btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-outline-info btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<div class="container">
  
  <% secrets.forEach(function(item){ %>
    <div class="card text-center mx-auto my-5 border border-dark bg-dark" style="max-width: 48rem;">
      <div class="card-header border-light">
       <img class="float-left" src="images/secret-folder-96.png" alt="Card image cap" style="max-width: 2.5rem;">
      </div>
      <div class="card-body">
        <h5 class="card-title text-primary"><%=item.title%> </h5>
        <p class="card-text text-white"><%=item.secret%></p>
      </div>
      
      <div class="card-footer bg-transparent border-light">Your Secret is 
        safe
      </div>
      
    </div>

      <!-- <p class="secret-text"><%=item.secret%> </p>     -->
  <% }); %>
</div>



<%- include('partials/footer') %>
